@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h1>Possible Incident</h1>
    <div>
        <h3>Placeholder</h3>
        <h3>Placeholder</h3>
        <h3>Placeholder</h3>

    </div>
</div>
@section scripts{

    }